@mixin loading-spinner($activeColor: "#ef6565", $selector: "&::before", $time: 1.5s) {
    // Animation keyframes
    @keyframes spinner {
        0% {
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
        }
        100% {
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
        }
    }

    // These styles are being applied the element
    // where we include the mixin. I'd recommend for 
    // maintainability to keep these as minimal as possible.
    opacity: 1;
    position: relative;

    // Styles to fade out spinner when loaded
    &.-loaded {
        opacity: 0;
        transition: opacity linear 0.1s;
    }

    // Spinner
    #{$selector} {
        animation: 2s linear infinite spinner;
        border: 3px solid #eee;
        border-bottom-color: #ef6565;
        border-radius: 50%;
        content: '';
        height: 40px;
        left: 50%;
        opacity: inherit;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transform-origin: center;
        width: 40px;
        will-change: transform;
    }
}

.spinner {
    @include loading-spinner;
    // The height here is just for demo purposes
    height: 100vh;
}